@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
   
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' ,sans-serif;
}
.body-home{
    background: url(im/1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.black-fill{
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;

}
#homenav{
    background: rgba(255, 255, 255, 0.4) !important;
}
.login{
    max-width: 500px;
    width: 90%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.login .text-center{
    border-radius: 20px;
}